POCKET_API_IMAGE=hmzza/pocket-api:latest
POCKET_WEB_IMAGE=hmzza/pocket-web:latest
POSTGRES_DB=pocket
POSTGRES_USER=pocket
POSTGRES_PASSWORD=pocket
POSTGRES_PORT=5435
API_PORT=4000
WEB_PORT=3000
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d
INITIAL_ADMIN_EMAIL=admin@pocketshawarma.com
INITIAL_ADMIN_PASSWORD=PocketAdmin123!
SEED_DATABASE=true
SEED_VERSION=1
FORCE_SEED=false
